﻿@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<input class="form-control" type="text" @bind="temp">

@code {
    private int currentCount = 0;
    private string temp = "";

    private void IncrementCount()
    {
        currentCount++;
    }

    private void ShameUser()
    {
        temp = "ABCDEFG";
        Console.WriteLine(temp);
    }
}
